@import url('font-general-sans.css');
@import url('font-mondia.css');

:root {
  --font-heading: 'Mondia';
  --font-body: 'General Sans Variable';
  --color-primary: #F8F4F9;
  --color-secondary: #621e8f;
  --color-secondary--subdued: rgb(98, 30, 143, 0.5);
  --color-accent: #ff69b4;
  --transition-time: 0.125s;
  --transition-time--slow: 0.5s;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  scroll-behavior: smooth;
  /* outline: dashed 2px var(--color-accent); */
}
body {
  font-family: 'General Sans Variable';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.45rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul, li {
  color: inherit;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main {
  position: relative;
}
.header {
  position: fixed;
  top: 0vh;
  inset-inline: 0;
  z-index: 9999;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: scroll;
}
.list__item {
  padding: 2rem;
}
.nav a {
  font-family: 'Mondia';
  color: var(--color-primary);
  transition: all var(--transition-time--slow) ease;
}
.nav a:hover {
  font-size: 1.5rem;
  color: var(--color-accent);
  text-shadow: 0rem 0rem 2rem var(--color-primary);
  transition: all var(--transition-time--slow) ease;
}
.section {
  margin: 0 auto 4rem auto;
  scroll-margin-top: 9rem;
}
.section--hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  scroll-margin-top: 0;
}
.section--hero > * {
  align-self: stretch;
}
.section--banner {
  padding: 4rem 0;
  background: linear-gradient(var(--color-secondary), var(--color-accent));
  color: var(--color-primary)
}
.section--white {
  background-color: white;
  padding-block: 50rem;
}
.section__description {
  margin-bottom: 2rem;
  padding-inline: 2rem;
}
.section__description--narrow {
  margin-inline: auto;
  max-width: 75ch;
}
.section__description--center-aligned {
  text-align: center;
}
.section__heading {
  font-family: 'Mondia';
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.section__heading--L {
  font-size: 3rem;
  line-height: 4.5rem;
}
.section__heading--XL {
  text-align: center;
  font-size: 8rem;
  line-height: 8rem;
}
.section__body p {
  margin-bottom: 0.5rem;
}
.section__content {
  margin-inline: auto;
  padding-inline: 2rem;
}
.section__content--narrow {
  width: 100%;
  max-width: 75ch;
}
.section__content--break {
  max-width: 100ch;
}
.section__content--wide {
  max-width: 100rem;
  padding-inline: 2rem;
}
.section__content--banner {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 2rem 0rem;
}
.flex {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.flex--padded {
  padding: 0 2rem;
}
.flex--scroll-x {
  overflow-x: scroll;
  height: 100%;
  justify-content: flex-start;
  padding: 2rem 1rem;
  scrollbar-color: var(--color-primary) var(--color-secondary) ;
  scrollbar-width: thin;
}
.flex--scroll-x > * {
  flex: 0 0 auto;
}
.flex--shrink-y {
  align-items: center;
}
.flex--space-between {
  justify-content: space-between;
}
.flex--stretch-x > * {
  flex-grow: 1;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.grid--square {
  grid-template-columns: repeat(auto-fit, 14rem);
}
.grid--rectangle {
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
}

@media screen and (width < 550px) {
  
  .grid--rectangle {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  overflow: hidden;
  transition: all var(--transition-time) ease;
}
.card:has(.checkbox:checked),
.card:has(.radio:checked) {
  scale: 0.95;
  outline: solid 0.1rem var(--color-accent);
  box-shadow: 0 0 2rem var(--color-accent);
}
.card--banner {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.card--square {
  max-width: 100%;
  aspect-ratio: 1/1;
}
.card--row {
  min-height: 10rem;
}
.card--column {
  max-height: 28rem;
}
.card--invert {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.card--listing {
  width: 25rem;
  height: 25rem;
}
.card--shadow {
  box-shadow: 0 0 2rem var(--color-accent);
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-secondary);
  transition: all var(--transition-time) ease;
  pointer-events: none;
}
.card--hover:hover .card__img {
  opacity: 0.25;
}
.card:has(.checkbox:checked) .card__img {
  opacity: 0.05;
}
.card:has(.radio:checked) .card__img {
  opacity: 0.05;
}
.card__img--bg {
  position: absolute;
  inset: 0;
}
.card__description { 
  position: relative;
  padding: 1rem 1rem;
  pointer-events: none;
}
.card__description--hover {
  opacity: 0;
  position: absolute;
  inset: 0;
  transition: all var(--transition-time) ease;
}
.card__description--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.card__description--invert {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
.card__description--footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 25%;
  background-color: white;
  color: var(--color-secondary);
  box-shadow: 0 -1rem 2.5rem var(--color-secondary);
}
.card__description--bg-color {
  background-color: var(--color-secondary);
}
.card__description--bg-img {
  background-color: var(--color-secondary--subdued);
}
.card--hover:hover .card__description--hover {
  opacity: 1;
}
.card:has(.checkbox:checked) .card__description--hover {
  opacity: 1;
}
.card:has(.radio:checked) .card__description--hover {
  opacity: 1;
}
.card__heading {
  font-family: 'Mondia';
  font-size: 1rem;
  font-weight: 600;
}
.card__heading--banner {
  font-size: 3rem;
  line-height: 3.5rem;
}
.card__heading--L {
  font-size: 1.5rem;
  line-height: 1.875rem;
}
.card__heading--footer {
  font-family: 'Mondia';
  font-size: 1.25rem;
}
.card__body p {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}
.card__body--banner p {
  font-size: inherit;
  margin-bottom: 0.5rem;
}
.card__body--margin-none p {
  margin-bottom: 0rem;
}
.card__body--footer p {
  margin-bottom: 0;
}
.card__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.card__badge {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  transition: all var(--transition-time)
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__input {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  color: var(--color-secondary);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}
.form__button {
  font-family: 'Mondia';
  font-weight: 700;
  /* line-height: 1; */
  font-size: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  padding: 1rem 4rem;
  transition: all var(--transition-time--slow);
  cursor: pointer;
}
.form__button:hover {
  background-color: var(--color-accent);
}
.form__button:active {
  transform: scale(85%);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  transition: all var(--transition-time) ease;
}
.form__button--span {
  flex-grow: 1;
  width: 100%;
}
.form__button--square {
  padding: 1rem;
  flex-grow: 0;
}
.form__button--invert {
  background-color: var(--color-accent);
  color: var(--color-primary);
}
.form__button--dead {
  background-color: darkgray;
}
.form__button--dead:hover {
  background-color: darkgray;
}
.form__button--dead:active {
  transform: scale(100%);
  background-color: darkgray;
  color: var(--color-primary);
  transition: none;
}
.button__img {
  width: 1rem;
  aspect-ratio: 1/1;
  transform: translateY(0.125rem);
}
.icon {
  stroke: var(--color-primary);
}
.checkbox {
  display: none;
}
.radio {
  display: none;
  max-width: 1rem;
  max-height: 1rem;
  border: solid 0.125rem var(--color-secondary);
  border-radius: 50%;
  transform: translate(-2px, 1px);
  transition: all var(--transition-time) ease;
}
.radio:checked {
  accent-color: var(--color-accent);
}
.date-time {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.date-time__input {
  font-family: 'Mondia';
  font-size: 1.125rem;
  font-weight: 600;
  flex-grow: 1;
  background-color: var(--color-secondary--subdued);
  color: var(--color-primary);
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.date-time__input:invalid {
  outline: solid 0.1rem var(--color-accent);
  background-color: lightpink;
  color: var(--color-secondary);
}
.date-time__input:invalid::after {
  content: '(Invalid. Please input a date 5 days from today.)';
}
.dropdown {
  margin-bottom: 1rem;
}
.dropdown__summary {
  font-weight: 600;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 1rem;
}
.dropdown__content {
  padding: 1rem 3rem;
}
.article {
  margin-bottom: 1rem;
}
.article__heading {
  font-family: 'Mondia';
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 10rem;
  font-family: 'Mondia';
  font-weight: 600;
  color: var(--color-secondary);
  padding: 1rem 2rem;
}
.link {
  text-decoration: underline;
  transition: all var(--transition-time) ease;
}
.link:hover {
  color: var(--color-accent)
}
.date-summary {
  background-color: var(--color-primary);
  border-radius: 1rem;
  padding: 2rem 5rem;
  margin-bottom: 2rem;
}
.date-summary__description {
  margin-bottom: 3rem;
}
.date-summary__description--margin-none {
  margin-bottom: 0;
}
.date-summary__heading {
  font-family: 'Mondia';
  text-align: center;
  font-size: 8rem;
  font-weight: 600;
  line-height: 7rem;
  margin-bottom: 1rem;
}
.date-summary__subheading {
  text-align: center;
  font-weight: 600;
}
.date-summary__body {
  text-align: center;
}
.date-summary__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.date-summary__section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1rem;
}
.iframe-container {
  max-width: 75ch;
}
.iframe {
  border-radius: 1rem;
  width: 100%;
  height: 40rem;
}
.u-clickable {
  cursor: pointer;
}
.u-clickable:hover {
  scale: 0.95;
  cursor: pointer;
}
.u-clickable:active {
  transform: scale(95%);
  transition: all 0s;
}
.u-text-align-center {
  text-align: center;
}
.u-box-shadow-glow {
  box-shadow: 0 0 2rem var(--color-secondary);
  animation: glow 1s alternate infinite linear;
}
.u-box-shadow-glow--spin {
  animation: glow--spin 2s infinite alternate cubic-bezier(0.83, 0, 0.17, 1);
}

@keyframes glow {
  from {
    box-shadow: 0 0 5rem var(--color-secondary);
  }
  
  to {
    box-shadow: 0 0 5rem var(--color-accent);
  }
}
@keyframes glow--spin {
  0% {
    box-shadow: 0rem 0rem 1rem var(--color-accent);
  }
  100% {
    box-shadow: 0rem 0rem 5rem var(--color-secondary);
  }
}